{% extends "base.html" %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}
    <h1>Оформление заказа</h1>
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Оформить</button>
            </form>
        </div>
        <div class="col-md-4">
            <h3>Ваш заказ</h3>
            <ul class="list-group mb-3">
                {% for item in cart %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{{ item.product.name }}</h6>
                        <small class="text-muted">Количество: {{ item.quantity }}</small>
                    </div>
                    <span class="text-muted">{{ item.total_price }} руб.</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Итого (руб.)</span>
                    <strong>{{ cart.get_total_price }} руб.</strong>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}